<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maimieng.bbs.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.maimieng.bbs.po.Message" >
    <id column="MsID" property="msid" jdbcType="INTEGER" />
    <result column="MsUserName" property="msusername" jdbcType="VARCHAR" />
    <result column="MsDate" property="msdate" jdbcType="TIMESTAMP" />
    <result column="MsTitle" property="mstitle" jdbcType="VARCHAR" />
    <result column="MsContent" property="mscontent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MsID, MsUserName, MsDate, MsTitle, MsContent
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.maimieng.bbs.po.MessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message
    where MsID = #{msid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message
    where MsID = #{msid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.maimieng.bbs.po.MessageExample" >
    delete from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maimieng.bbs.po.Message" >
    insert into message (MsID, MsUserName, MsDate, 
      MsTitle, MsContent)
    values (#{msid,jdbcType=INTEGER}, #{msusername,jdbcType=VARCHAR}, #{msdate,jdbcType=TIMESTAMP}, 
      #{mstitle,jdbcType=VARCHAR}, #{mscontent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.maimieng.bbs.po.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msid != null" >
        MsID,
      </if>
      <if test="msusername != null" >
        MsUserName,
      </if>
      <if test="msdate != null" >
        MsDate,
      </if>
      <if test="mstitle != null" >
        MsTitle,
      </if>
      <if test="mscontent != null" >
        MsContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msid != null" >
        #{msid,jdbcType=INTEGER},
      </if>
      <if test="msusername != null" >
        #{msusername,jdbcType=VARCHAR},
      </if>
      <if test="msdate != null" >
        #{msdate,jdbcType=TIMESTAMP},
      </if>
      <if test="mstitle != null" >
        #{mstitle,jdbcType=VARCHAR},
      </if>
      <if test="mscontent != null" >
        #{mscontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maimieng.bbs.po.MessageExample" resultType="java.lang.Integer" >
    select count(*) from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update message
    <set >
      <if test="record.msid != null" >
        MsID = #{record.msid,jdbcType=INTEGER},
      </if>
      <if test="record.msusername != null" >
        MsUserName = #{record.msusername,jdbcType=VARCHAR},
      </if>
      <if test="record.msdate != null" >
        MsDate = #{record.msdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mstitle != null" >
        MsTitle = #{record.mstitle,jdbcType=VARCHAR},
      </if>
      <if test="record.mscontent != null" >
        MsContent = #{record.mscontent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update message
    set MsID = #{record.msid,jdbcType=INTEGER},
      MsUserName = #{record.msusername,jdbcType=VARCHAR},
      MsDate = #{record.msdate,jdbcType=TIMESTAMP},
      MsTitle = #{record.mstitle,jdbcType=VARCHAR},
      MsContent = #{record.mscontent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maimieng.bbs.po.Message" >
    update message
    <set >
      <if test="msusername != null" >
        MsUserName = #{msusername,jdbcType=VARCHAR},
      </if>
      <if test="msdate != null" >
        MsDate = #{msdate,jdbcType=TIMESTAMP},
      </if>
      <if test="mstitle != null" >
        MsTitle = #{mstitle,jdbcType=VARCHAR},
      </if>
      <if test="mscontent != null" >
        MsContent = #{mscontent,jdbcType=VARCHAR},
      </if>
    </set>
    where MsID = #{msid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maimieng.bbs.po.Message" >
    update message
    set MsUserName = #{msusername,jdbcType=VARCHAR},
      MsDate = #{msdate,jdbcType=TIMESTAMP},
      MsTitle = #{mstitle,jdbcType=VARCHAR},
      MsContent = #{mscontent,jdbcType=VARCHAR}
    where MsID = #{msid,jdbcType=INTEGER}
  </update>
</mapper>