<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maimieng.bbs.mapper.ReplyMapper" >
  <resultMap id="BaseResultMap" type="com.maimieng.bbs.po.Reply" >
    <id column="ReID" property="reid" jdbcType="INTEGER" />
    <result column="ReMsID" property="remsid" jdbcType="INTEGER" />
    <result column="ReUserName" property="reusername" jdbcType="VARCHAR" />
    <result column="ReDate" property="redate" jdbcType="TIMESTAMP" />
    <result column="ReContent" property="recontent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ReID, ReMsID, ReUserName, ReDate, ReContent
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.maimieng.bbs.po.ReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from reply
    where ReID = #{reid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reply
    where ReID = #{reid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.maimieng.bbs.po.ReplyExample" >
    delete from reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maimieng.bbs.po.Reply" >
    insert into reply (ReID, ReMsID, ReUserName, 
      ReDate, ReContent)
    values (#{reid,jdbcType=INTEGER}, #{remsid,jdbcType=INTEGER}, #{reusername,jdbcType=VARCHAR}, 
      #{redate,jdbcType=TIMESTAMP}, #{recontent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.maimieng.bbs.po.Reply" >
    insert into reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reid != null" >
        ReID,
      </if>
      <if test="remsid != null" >
        ReMsID,
      </if>
      <if test="reusername != null" >
        ReUserName,
      </if>
      <if test="redate != null" >
        ReDate,
      </if>
      <if test="recontent != null" >
        ReContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reid != null" >
        #{reid,jdbcType=INTEGER},
      </if>
      <if test="remsid != null" >
        #{remsid,jdbcType=INTEGER},
      </if>
      <if test="reusername != null" >
        #{reusername,jdbcType=VARCHAR},
      </if>
      <if test="redate != null" >
        #{redate,jdbcType=TIMESTAMP},
      </if>
      <if test="recontent != null" >
        #{recontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maimieng.bbs.po.ReplyExample" resultType="java.lang.Integer" >
    select count(*) from reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update reply
    <set >
      <if test="record.reid != null" >
        ReID = #{record.reid,jdbcType=INTEGER},
      </if>
      <if test="record.remsid != null" >
        ReMsID = #{record.remsid,jdbcType=INTEGER},
      </if>
      <if test="record.reusername != null" >
        ReUserName = #{record.reusername,jdbcType=VARCHAR},
      </if>
      <if test="record.redate != null" >
        ReDate = #{record.redate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recontent != null" >
        ReContent = #{record.recontent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update reply
    set ReID = #{record.reid,jdbcType=INTEGER},
      ReMsID = #{record.remsid,jdbcType=INTEGER},
      ReUserName = #{record.reusername,jdbcType=VARCHAR},
      ReDate = #{record.redate,jdbcType=TIMESTAMP},
      ReContent = #{record.recontent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maimieng.bbs.po.Reply" >
    update reply
    <set >
      <if test="remsid != null" >
        ReMsID = #{remsid,jdbcType=INTEGER},
      </if>
      <if test="reusername != null" >
        ReUserName = #{reusername,jdbcType=VARCHAR},
      </if>
      <if test="redate != null" >
        ReDate = #{redate,jdbcType=TIMESTAMP},
      </if>
      <if test="recontent != null" >
        ReContent = #{recontent,jdbcType=VARCHAR},
      </if>
    </set>
    where ReID = #{reid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maimieng.bbs.po.Reply" >
    update reply
    set ReMsID = #{remsid,jdbcType=INTEGER},
      ReUserName = #{reusername,jdbcType=VARCHAR},
      ReDate = #{redate,jdbcType=TIMESTAMP},
      ReContent = #{recontent,jdbcType=VARCHAR}
    where ReID = #{reid,jdbcType=INTEGER}
  </update>
</mapper>