<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Demo02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Demo03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Demo04.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Demo05.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Demo06.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Demo07.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Demo08.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Demo09.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Demo10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Demo11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Demo12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Demo13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Demo14.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Demo15.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Demo16.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Demo17.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Demo18.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Demo19.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Demo20.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Demo21.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Demo22.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Demo23.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Demo24.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Demo25.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Demo26.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Demo27.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Demo28.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Demo29.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Demo30.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8415193E1CAFC03000113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8415194C1CAFFECA00113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8415195D1CB006E600113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841519711CB0BCAE00113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841519911CB0C5FA00113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841519A21CB0CE9C00113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841519B01CB0F77400113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841519BE1CB0FEBA00113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841519C91CB0FEC000113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841519D71CB10DAF00113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841519E21CB10DB500113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841519ED1CB10DBB00113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841519F81CB10DC100113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84151A031CB10DCA00113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84151A0E1CB10E1200113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84151A191CB10E3900113267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849AD64F1CB246020033AD26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849AD65A1CB2460A0033AD26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849AD6651CB246110033AD26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849AD6701CB246170033AD26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849AD67B1CB2461E0033AD26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B39B8A1CB908B000425A48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B39B951CB908B500425A48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B39BA01CB908BB00425A48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B39BAB1CB908C200425A48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B39BB61CB908C600425A48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B39BE81CBA5AB800425A48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B39BF31CBA5ABD00425A48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B39BFE1CBA5AC300425A48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B39C091CBA5AC900425A48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B39C141CBA5ACE00425A48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84D9FB511CABF5F200A3A4D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
